
.idea/final-project-beep-beep-boop-boop.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
*.pem
!mixnet_public.pem
!mixnet_private.pem
app/.DS_Store
app/templates/.DS_Store
*.pyc
app/static/.DS_Store
