html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Source Sans Pro;
}

input {
    font-family: Source Sans Pro;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#login_view {
    backdrop-filter: blur(5px);
    position: absolute;
    height: 100%;
    width: 100%;
}

.card {
    background: white;
    border: 0.5px solid rgb(229,229,229);
    border-radius: 15px;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.card img {
    border-radius: 30%;
    border: 2px solid rgb(229,229,229);
    height: 100px;
    width: 100px;
    margin-bottom: 25px;
}

.card input {
    border: none;
    text-align: center;
    font-size: 14px;
}

.card .error{
    color: red;
    animation: shake 0.5s;
}

.card .divider {
    margin: 5px 0 20px 0;
}

.card .button {
    margin-top: 10px;
}

.button {
    background: rgb(59, 220, 124);
    border: 2px solid rgb(229,229,229);
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 7px;
}

input:focus{
    outline: none;
}

.side {
    flex-basis: 35%;
    height: 100vh;
}

.side header {
    background: rgb(234,234,234);
    border: 0.5px solid rgb(229,229,229);
    justify-content: center;
}

.side header div {
    margin: 30px 16px 10px 16px;
    font-size: 26px;
    cursor: pointer;
}

.side header img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.side header #nickname {
    outline: 0;
    white-space: nowrap;
    width: 30vw;
    overflow: hidden;
}

.side #online_users p {
    color: rgb(128,128,128);
    text-align: center;
}

.side .user {
    cursor: pointer;
    height: 65px;
}

.side .user:hover {
    background: rgb(243,243,243);
}

.side .user img {
    border-radius: 50%;
    padding: 10px 16px;
    height: 48px;
    width: 48px;
}

.side .user .username {
    flex-grow: 1;
    margin: auto 0;
}

.side .user .notification {
    background: rgb(222,82,70);
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: light;
    padding: 3px 3px;
    text-align: center;
    width: 15px;
    margin: auto 10px;;
}

#chat {
    background: rgb(247,248,249);
    flex-grow: 1;
    height: 100vh;
}

#chat .placeholder {
    color: rgb(128,128,128);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#chat .placeholder img {
    height: 55%;
    max-height: 300px;
    width: auto;
    max-width: 320px;
}

#chat .placeholder div {
    padding: 10px 0 30px 0;
}

.color_strip {
    height: 4px;
    width: 100%;
    margin-bottom: 10px;
}

.green {
    background: rgb(59, 220, 124);
}

.yellow {
    background: rgb(244,160,0);
}

.divider {
    background: rgb(243,243,243);
    height: 0.5px;
    width: 50%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

#chat .hidden {
    display: none;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}