<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mixnet Messenger</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'website.css') }}">
</head>

<body>
    <div class="flex-row flex-center" id="login_view">
        <div class="card">
            <img class="unselectable" src="{{ url_for('static', filename = 'img/avatar.png') }}">
            <input type="text" placeholder="username" autofocus>
            <div class="unselectable divider"></div>
            <input type="text" placeholder="nickname">
            <div class="unselectable divider"></div>
            <div class="unselectable button" id="submit">Submit</div>
        </div>
    </div>

    <div class="flex-row">
        <div class="side">
            <header>
                <div id="nickname" contenteditable="true">Hello!</div>
            </header>
            <div class="color_strip yellow"></div>
            <div id="online_users">
                <p>...looks like no one is online...</p>
            </div>
        </div>

        <div id="chat">
            <div class="placeholder">
                <img class="unselectable" src="{{ url_for('static', filename = 'img/robot.png') }}">
                <div>Select a user on the left and start chatting!</div>
            </div>

            <div class="flex-column flex-center hidden" >
                <header>
                    <img class="unselectable" src="{{ url_for('static', filename = 'img/avatar.png') }}">
                    <div>username</div>
                </header>
                <div class="flex-column chat_area">
                    <div class="message right"></div>
                    <div class="message left">message</div>
                </div>
                <div class="flex-row flex-center" id="chat_input">
                    <input type="text" data-recipient="">
                    <div class="unselectable button">Send</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>
</html>